body {
  max-width: 800px;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 40px;
  color: orangered;
}

h2 {
  font-size: 20px;
  color: gray;
}

h3 {
  font-size: 12px;
  text-align: center;
}

h4 {
  font-size: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: gray;
}

footer {
  text-align: center;
  font-size: 14px;
}

.icon-today {
  font-size: 55px;
  text-align: right;
}

#temperature-today {
  font-size: 60px;
}

.units {
  position: relative;
  bottom: 30px;
  text-align: left;
}

.app-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
}

.weather-details {
  padding: 0;
  color: lightcoral;
}

.units .active {
  color: black;
  text-decoration: none;
  pointer-events: none;
}
