body {
  max-width: 800px;
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 60px;
  color: orangered;
}

h2 {
  font-size: 20px;
  color: gray;
}

footer {
  text-align: center;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: gray;
}

.icon-today {
  font-size: 64px;
}

.temperature-today {
  font-size: 64px;
}

.app-container {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
}

.weather-details {
  padding: 0;
  color: lightcoral;
}
