body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 50px;
  color: #ff5722;
}

h2 {
  font-size: 24px;
  color: #212121;
}

h3 {
  font-size: 16px;
  text-align: center;
  color: #757575;
  margin-bottom: 0;
}

h4 {
  font-size: 20px;
  text-align: center;
  /* color: #757575; */
  color: #ff5722;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: gray;
}

small {
  color: #9e9e9e;
}

footer {
  text-align: center;
  font-size: 14px;
}

.app-container {
  max-width: 700px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  background-color: #bdbdbd;
  margin: 0 auto;
}

.search {
  padding: 6px 12px;
  background-color: #ff5722;
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  color: #212121;
}

.search:hover {
  background-color: #212121;
  color: #ffffff;
}

.units {
  position: relative;
  bottom: 30px;
  text-align: left;
}

.weather-details {
  padding: 0;
  color: #ffffff;
}

.weather-details #main-description {
  font-size: 20px;
  font-weight: 700;
}

.units .active {
  color: black;
  text-decoration: none;
  pointer-events: none;
}

.asterisc {
  color: #9e9e9e;
  font-size: 12px;
  text-align: right;
}

#icon-today {
  text-align: right;
}

#icon-forecast {
  display: block;
  margin: 0 auto;
}

#temperature-today {
  font-size: 60px;
  color: #212121;
}
